body {
  margin: 0;
}

.tabular {
  font-variant-numeric: tabular-nums;
}

@media print {
  .no-print,
  .mantine-AppShell-header,
  .mantine-AppShell-navbar {
    display: none !important;
  }

  .mantine-AppShell-main {
    padding: 0 !important;
  }
}
